h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    font-size: medium;
    text-decoration: underline brown;
}
section{
    display: flex;
    width: 600px;
    height: 450px;
    margin: 0 auto;
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 1a ease;
}
section img:hover{
    cursor:crosshair;
    width: 400px;
    opacity: 1;
}