body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #264653;
    color: #fff;
    font-family: Arial;
}

.contenedor{
    background-color:#2a9d8f;
    border-radius: 20px;
    border: none;
    padding: 20px;
    text-align: center;
    box-shadow: #132329 0 6px 8px;
    margin: 20px;
    justify-content: center;
}

h1{
    font-family: 'Libre Baskerville';
    font-size: 40px;    
    padding: 15px;
}

p{
    padding: 10px;
}

#adivinaInput{
    border: none;
    border-radius: 20px;
    background-color: #f4a261;
    box-shadow: #264653 0 4px 6px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

#adivinaInput::placeholder{
    color: #fff;
}

#adivinaInput:hover{
    box-shadow: #264653 0 6px 6px;
}


.enviar{
    border: none;
    border-radius: 20px;
    background-color: #f4a261;
    box-shadow: #264653 0 4px 6px;
    padding: 10px;
    cursor:pointer;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.enviar:hover{
    box-shadow: #264653 0 6px 6px;
    background-color: #e76f51;
}

#reset{
    border: none;
    border-radius: 20px;
    background-color: #f4a261;
    box-shadow: #264653 0 4px 6px;
    padding: 10px;
    cursor:pointer;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

#reset:hover{
    box-shadow: #264653 0 6px 6px;
}
