/*cambiar colores y borrar formatos de texto porque va a depender de ProyectoFinal_base.css*/
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient( to bottom right, azure, #2a6c7e);
}
.contact-form{
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    max-width: 400px;
}
.input-group{
    margin-bottom: 30px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-group input{
    width: 100%;
    padding: 5px;
    border:none;
    border-bottom: 1px solid #2e3c51;
}
button{
    width: 100%;
    padding: 10px;
    border: none; 
    border-radius: 20px;
    background-color: #2e3c51;
    cursor: pointer;
    color: #fff;
}
button:hover{
    background-color: rgb(180, 202, 214);
}